.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
