.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.input:focus-visible {
  outline-color: rgb(103, 151, 29);
}

.input:focus {
  box-shadow: inset 0 0 2px 2px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .input {
    height: 25px;
    font-size: 15px;
    padding-left: 10px;
  }
}
