@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plansAndPrices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.plansContainerFather {
  display: flex;
  justify-content: space-between;
  width: 22%;
  margin: auto;
  margin-bottom: 100px;
}

.plansContainer {
  border: 2px solid greenyellow;
  background-color: #1c1c1a;
  border-radius: 10px;
  margin: auto;
}

.plansContainer:hover {
  box-shadow: 0 0 10px 2px white;
  transition: 0.3s ease-in-out;
}

.buttonBuy {
  width: 150px;
  height: 40px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid greenyellow;
  background: none;
  text-transform: uppercase;
  color: whitesmoke;
  cursor: pointer;
}

.buttonBuy:hover {
  box-shadow: 0 0 5px 2px white;
}

.buttonRegister {
  width: 85px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.buttonRegister:hover {
  border: 1px solid black;
  box-shadow: 0 0 1px 3px greenyellow;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .plansAndPrices {
    margin-top: 20px;
  }

  .plansContainerFather {
    width: 30%;
    margin-bottom: 50px;
  }

  .plansContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    border: 1px solid greenyellow;
  }

  .buttonBuy {
    width: 60px;
    height: 20px;
    font-size: 8px;
    margin-bottom: 10px;
    font-weight: 400;
    border: 1px solid greenyellow;
  }

  .buttonRegister {
    width: 70px;
    height: 20px;
    font-size: 15px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .plansContainerFather {
    width: 32%;
    margin-bottom: 50px;
  }

  .plansContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    border: 1px solid greenyellow;
  }

  .buttonBuy {
    width: 100px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 400;
    border: 1px solid greenyellow;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .plansContainerFather {
    width: 28%;
    margin: auto;
    margin-bottom: 80px;
  }

  .plansContainer {
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .plansContainerFather {
    width: 25%;
    margin: auto;
    margin-bottom: 80px;
  }
}
