@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.section {
  background-image: url("../../img/backgroundBody.jpg");
  background-position: center;
  background-size: cover;
}

.containerFirstSection {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 100px;
}

.containerTitle {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
}

.containerTitle h3 {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 50px;
  margin: 0;
}

.containerTitle h1 {
  font-size: 115px;
  text-transform: uppercase;
  color: greenyellow;
  margin: 0;
}

.containerSpan {
  display: flex;
  text-align: center;
  width: 15%;
  line-height: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: whitesmoke;
}

.containerAbout {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  font-size: 30px;
  width: 45%;
  text-align: justify;
  line-height: 30px;
  margin-top: 150px;
}

.container100 {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-left: auto;
  margin-top: 120px;
}

.container100Children {
  background-color: #1c1c1a;
  width: 250px;
  height: 245px;
  border-radius: 25px;
}

.container100Children p {
  color: whitesmoke;
  margin-top: 15px;
  font-size: 25px;
}

.containerRound {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid greenyellow;
  border-radius: 50%;
  width: 60%;
  height: 150px;
  margin: auto;
  margin-top: 20px;
}

.containerRound span {
  color: whitesmoke;
  font-size: 40px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .containerFirstSection {
    width: 90%;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .containerTitle h3 {
    font-size: 20px;
  }

  .containerTitle h1 {
    font-size: 25px;
  }

  .containerSpan {
    width: 30%;
    line-height: 14px;
    font-size: 10px;
  }

  .containerAbout {
    font-size: 10px;
    line-height: 15px;
    margin-top: 15px;
  }

  .container100 {
    gap: 10px;
    margin-left: auto;
    margin-top: 16px;
  }

  .container100Children {
    width: 65px;
    height: 70px;
    border-radius: 10px;
  }

  .container100Children p {
    margin-top: 5px;
    font-size: 10px;
  }

  .containerRound {
    border: 2px solid greenyellow;
    border-radius: 50%;
    width: 55%;
    height: 35px;
    margin-top: 10px;
  }

  .containerRound span {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .containerFirstSection {
    width: 85%;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .containerTitle h3 {
    font-size: 30px;
  }

  .containerTitle h1 {
    font-size: 45px;
  }

  .containerSpan {
    width: 35%;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
  }

  .containerAbout {
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
  }

  .container100 {
    gap: 15px;
    margin-left: auto;
    margin-top: 30px;
  }

  .container100Children {
    width: 90px;
    height: 95px;
  }

  .container100Children p {
    margin-top: 5px;
    font-size: 14px;
  }

  .containerRound {
    border-radius: 50%;
    width: 55%;
    height: 50px;
    margin-top: 15px;
  }

  .containerRound span {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .containerFirstSection {
    width: 85%;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .containerTitle h3 {
    font-size: 30px;
  }

  .containerTitle h1 {
    font-size: 65px;
  }

  .containerSpan {
    width: 20%;
    margin-left: 12rem;
    line-height: 22px;
    font-size: 15px;
  }

  .containerAbout {
    font-size: 18px;
    line-height: 22px;
    margin-top: 50px;
  }

  .container100 {
    gap: 15px;
    margin-left: auto;
    margin-top: 50px;
  }

  .container100Children {
    width: 150px;
    height: 145px;
  }

  .container100Children p {
    margin-top: 5px;
    font-size: 20px;
  }

  .containerRound {
    border-radius: 50%;
    width: 55%;
    height: 80px;
    margin-top: 20px;
  }

  .containerRound span {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .containerFirstSection {
    width: 65%;
    padding-bottom: 80px;
  }

  .containerTitle h3 {
    font-size: 30px;
  }

  .containerTitle h1 {
    font-size: 65px;
  }

  .containerSpan {
    width: 20%;
    margin-left: 12rem;
    line-height: 22px;
    font-size: 15px;
  }

  .containerAbout {
    font-size: 18px;
    line-height: 22px;
    margin-top: 50px;
  }

  .container100 {
    gap: 15px;
    margin-left: auto;
    margin-top: 50px;
  }

  .container100Children {
    width: 150px;
    height: 145px;
  }

  .container100Children p {
    margin-top: 5px;
    font-size: 20px;
  }

  .containerRound {
    border-radius: 50%;
    width: 55%;
    height: 80px;
    margin-top: 20px;
  }

  .containerRound span {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
  .containerTitle h1 {
    font-size: 90px;
  }

  .containerSpan {
    width: 19%;
    margin-left: 12rem;
    line-height: 22px;
    font-size: 16px;
  }

  .containerAbout {
    font-size: 20px;
    line-height: 22px;
    margin-top: 50px;
  }

  .container100 {
    gap: 30px;
    margin-top: 50px;
  }

  .container100Children {
    width: 180px;
    height: 165px;
  }

  .container100Children p {
    margin-top: 10px;
    font-size: 20px;
  }

  .containerRound {
    height: 100px;
    margin-top: 15px;
  }

  .containerRound span {
    font-size: 25px;
  }
}
