.containerCombos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 60px;
}

.titleCombos {
  width: 100%;
  color: rgb(117, 112, 112);
  text-transform: uppercase;
  font-size: 100px;
  margin-bottom: 40px;
}

.titleCombos span {
  color: whitesmoke;
}

.containerCombos p {
  width: 40%;
  color: whitesmoke;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .titleCombos {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .containerCombos p {
    width: 75%;
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .titleCombos {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .containerCombos p {
    width: 75%;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .titleCombos {
    font-size: 60px;
    margin-bottom: 30px;
    width: 85%;
  }

  .containerCombos p {
    width: 75%;
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .titleCombos {
    font-size: 90px;
    margin-bottom: 40px;
  }

  .containerCombos p {
    width: 60%;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
  .containerCombos p {
    width: 60%;
  }
}
